@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: black;
  width: 100%;
  max-width: 100vw;
}

#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

canvas {
  touch-action: none;
}